# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Virtualenv
venv/
env/
ENV/
.venv/
.env/

# VS Code
.vscode/

# macOS
.DS_Store

# IDEs
.idea/
.vscode/


# Ignore all migrations folders
**/migrations/
**/migrations/__pycache__/
**/migrations/*.py
**/migrations/*.pyc
**/migrations/*.pyo


# dotenv files
.env
.env.*

# Coverage reports
htmlcov/
.coverage
coverage.xml

# pytest
.pytest_cache/
